<html>
    <body>
        <table cellpadding="0" cellspacing="0" width="600" style='font: normal 12px arial'>
            <tr id="header" style="color: #ffffff; font:bold 14px arial;">
                <td style="vertical-align: top;">
                    <span style="color:#000000;">Test Verification
</span><br/>
                </td>
            </tr>
            <tr id="content" style="background-color: rgb(242, 249, 254); border-top-width: 1px; border-top-style: solid; border-top-color: rgb(222, 221, 217); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(222, 221, 217); padding: 15px;">
                <td colspan="2" style="padding: 10px;">
                    <div style="background-color:#F2F9FE ; font-size: 13px;">
                        <div> Hello <%= name  %>
,</div>
                        <br/>
                        <div> Your e-mail address (<%= email  %>
) has just been registered on Test Verification
.<br /><br />
Simply click the link below to validate your email address and enjoy all the benefits our site has to offer. </div>
                        <br/>
                        <h4><a href="<%= verify_link  %>
" target='_blank'>Verify My Email </a> and Join Test Verification
</h4>
                        <br />
                        <div>We hope you enjoy using Test Verification
.</div>
                        <br/>
                        <div>Best Regards,</div>
                        <br/>
                        <div>The Test Verification
 Team</div> 
                    </div>
                </td>
            </tr>
            <tr id="footer" style="background-color: #e6e3dd; font-size: 12px;">
                <td colspan="2" style="padding:5px;">
                    <p>This message is a referral from Test Verification
</p>
                   
                    <p>Copyright &copy; <%= year  %>
 All rights reserved.</p>
                </td>
            </tr>
        </table>
    </body>
</html>